{% extends 'interface/base.html' %}

{% block content %}
  <div class='tmp'>
    <div class='image-detail'>
      <img src='{{ item.item_photo.url }}' width='600px' height='450px'>
    </div>
    <div class='item-detail-info'>
      <ul>
        <li>
          <span class='left'>Название:</span>
          <span class='right'>{{item.item_name}}</span>
        </li>
        <li>
          <span class='left'>Категория:</span>
          <span class='right'>{{item.item_section}}</span>
        </li>
        <li>
          <span class='left'>Производитель:</span>
          <span class='right'>{{item.item_country}}</span>
        </li>
        <li>
          <span class='left'>Цена:</span>
          <span class='right'>{{item.item_cost}}</span>
        </li>
        <li>
          <span class='left'>Наличие:</span>
          {% if item.item_number %}
            <span class='right'>
              <span class='glyphicon glyphicon-ok'></span>
            </span>
          {% else %}
            <span class='right'> Отсутствует :(</span>
          {% endif %}
        </li>
      </ul>
        <form method="POST">{% csrf_token %}
          <button type="submit">Купить</button>
        </form>
    </div>
  </div>
  {% if request.user.username == 'basuluu' %}
    <div class='admin-menu'>
      <a href="{% url 'edit_item' id=item.id %}">
        <span class="glyphicon glyphicon-pencil">
        </span> Редактировать поле</a>
        <p></p>
        <a href="{% url 'delete_item' id=item.id%}">
          <span class="glyphicon glyphicon-trash">
        </span> Удалить товар
      </a>
    </div>
  {% endif %}
{% endblock %}
