{% load crispy_forms_tags %}
{% load static %}

<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <div class='header'>
      <h1><a href="/">Pug_store</a></h1>
    </div>
    <div class ='def-margin'>
      <a href="/register/">Регистрация</a>
      <a href="/login/">Войти</a>
      <h1> {{title}} </h1>
      <form method="POST">{% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="{{title}}"/>
      </form>
    </div>
  </body>
</html>
